@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <title>HextureMMS | استعادة كلمة المرور</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/bootstrap-rtl.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/animate.css" rel="stylesheet">
    <link href="~/Content/css/plugins/switchery/switchery.css" rel="stylesheet">
    <link href="~/Content/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="~/Content/css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="~/Content/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/Content/css/plugins/fullcalendar/fullcalendar.css" rel="stylesheet">
    <link href="~/Content/css/bootstrapp-rtl.min.css" rel="stylesheet">
    <link href="~/Content/css/plugins/steps/jquery.steps.css" rel="stylesheet">
    <link href="~/Content/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

</head>


<body>
    <div id="header_containerX">
        <div class="row">
            <div class="Mtitle">
                <a href="@Url.Action("Index","Home")"><span class="Ytitle">إدارة</span><span class="Ytitle">اللجان</span>&nbsp;<span class="Ytitle">والإجتماعات</span></a>
            </div>
        </div>
    </div>

    <div class="container" style="margin-inline:300px;">
        <div class="forms">
            <div class="form login">
                <span class="title" style="margin-inline: 195px; border-bottom: 2px solid; border-color: #bba20b; font-size: 30px;">
                    استعادة كلمة المرور
                </span>
                <div class="alert alert-success" role="alert" style="margin-top:70px">
                    من فضلك اتبع التعليمات التى تم أرسالها الى البريد الالكتروني لاستعادة كلمة المرور
                </div>                
            </div>
            <div class="footer" style="text-align: center;">
                <div id="footer">
                    <strong style="color:#333;"> جميع الحقوق محفوظة - خلايا المستقبل للاتصالات وتقنية المعلومات</strong>&copy; 2023
                </div>
            </div>


            <script src="~/Content/js/jquery-2.1.1.js"></script>
            <script src="~/Contentjs/code.js"></script>
            <script src="~/Contentjs/inspinia.js"></script>
            <script src="~/Contentjs/jquery-ui.custom.min.js"></script>
            <script src="~/Contentjs/bootstrap.min.js"></script>
            <script src="~/Contentjs/plugins/pace/pace.min.js"></script>
            <script src="~/Contentjs/plugins/fullcalendar/fullcalendar.min.js"></script>
            <script src="~/Contentjs/plugins/fullcalendar/moment.min.js"></script>
            <script src="~/Contentjs/plugins/metisMenu/jquery.metisMenu.js"></script>
            <script src="~/Contentjs/plugins/slimscroll/jquery.slimscroll.min.js"></script>
            <script src="~/Contentjs/plugins/iCheck/icheck.min.js"></script>
            <script src="~/Contentjs/plugins/jsKnob/jquery.knob.js"></script>
            <script src="~/Contentjs/plugins/switchery/switchery.js"></script>
            <script src="~/Contentjs/plugins/dataTables/jquery.dataTables.js"></script>
            <script src="~/Contentjs/plugins/dataTables/dataTables.bootstrap.js"></script>
            <script src="~/Contentjs/plugins/chosen/chosen.jquery.js"></script>
            <script src="~/Contentjs/plugins/staps/jquery.steps.min.js"></script>
            <script src="~/Contentjs/plugins/validate/jquery.validate.min.js"></script>
            <script src="~/Contentjs/chart.min.js"></script>





            <!-- Page-Level Scripts -->
            <script>
                $(document).ready(function () {
                    $('.dataTables-example').dataTable({
                        responsive: true,
                        "dom": 'T<"clear">lfrtip',
                        "tableTools": {
                            "sSwfPath": "js/plugins/dataTables/swf/copy_csv_xls_pdf.swf"
                        }
                    });
                });
            </script>


            <script>
                $(document).ready(function () {
                    var elem = document.querySelector('.js-switch');
                    var switchery = new Switchery(elem, { color: '#1AB394' });

                    var elem_2 = document.querySelector('.js-switch_2');
                    var switchery_2 = new Switchery(elem_2, { color: '#ED5565' });

                    var elem_3 = document.querySelector('.js-switch_3');
                    var switchery_3 = new Switchery(elem_3, { color: '#1AB394' });
                });
                var config = {
                    '.chosen-select': {},
                    '.chosen-select-deselect': { allow_single_deselect: true },
                    '.chosen-select-no-single': { disable_search_threshold: 10 },
                    '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
                    '.chosen-select-width': { width: "95%" }
                }
                for (var selector in config) {
                    $(selector).chosen(config[selector]);
                }
            </script>

            <script>
                function addDataInvitedEmail() {
                    var Invited_Email = document.getElementById("InvitedEmail").value;
                    var Invited_Number = document.getElementById("InvitedNumber").value;
                    var DropList_UserLevel = document.getElementById("DropListUserLevel").value;
                    var Message_Type = document.querySelector('input[name="MessageType"]:checked').value;

                    var Tabel_Invited = document.getElementById("TabelInvited");
                    var row = Tabel_Invited.insertRow();
                    var cell1 = row.insertCell(0);
                    var cell2 = row.insertCell(1);
                    var cell3 = row.insertCell(2);
                    var cell4 = row.insertCell(3);
                    var cell5 = row.insertCell(4);
                    var cell6 = row.insertCell(5);


                    cell1.innerHTML = Tabel_Invited.rows.length - 1;
                    cell2.innerHTML = Invited_Email;
                    cell3.innerHTML = Invited_Number;
                    cell4.innerHTML = DropList_UserLevel;
                    cell5.innerHTML = Message_Type;
                    cell6.innerHTML = '<button onclick="deleteRow(this)">Delete</button>';

                    document.getElementById("InvitedEmail").value = '';
                    document.getElementById("InvitedNumber").value = '';
                    document.getElementById("DropListUserLevel").value = '';
                    document.querySelector('input[name="MessageType"]:checked').checked = false;
                }

            </script>

            <script>
                let countList = 0; // Initialize count to 0
                function addDataListSpeakers() {
                    const DropListSpeaker_Name = document.getElementById("DropListSpeaker'sName").value;
                    const Subject = document.getElementById("subject").value;
                    const Duration = document.getElementById("duration").value;

                    if (DropListSpeaker_Name && Subject && Duration) { // Check if both fields are filled
                        countList++; // Increment count
                        const tableBody = document.getElementById("ListSpeakers");
                        const newRow = tableBody.insertRow();
                        const cell1 = newRow.insertCell(0);
                        const cell2 = newRow.insertCell(1);
                        const cell3 = newRow.insertCell(2);
                        const cell4 = newRow.insertCell(3);
                        const cell5 = newRow.insertCell(4);
                        const cell6 = newRow.insertCell(5);

                        cell1.innerHTML = countList;
                        cell2.innerHTML = DropListSpeaker_Name;
                        cell3.innerHTML = Subject;
                        cell4.innerHTML = Duration;
                        cell5.innerHTML = '<button onclick="deleteRow(this)">Delete</button>';

                        document.getElementById("DropListSpeaker'sName").value = '';
                        document.getElementById("subject").value = '';
                        document.getElementById("duration").value = '';

                    }
                }
            </script>

            <script>
                let countTabel = 0; // Initialize count to 0
                function addDataTableStriped() {
                    const Subjeform_File_Multiplect = document.getElementById("formFileMultiple").value;

                    if (Subjeform_File_Multiplect) { // Check if both fields are filled
                        countTabel++; // Increment count
                        const tableBody = document.getElementById("ListOfAttachments");
                        const newRow = tableBody.insertRow();
                        const cell1 = newRow.insertCell(0);
                        const cell2 = newRow.insertCell(1);
                        const cell3 = newRow.insertCell(2);

                        cell1.innerHTML = countTabel;
                        cell2.innerHTML = Subjeform_File_Multiplect;
                        cell3.innerHTML = '<button onclick="deleteRow(this)">Delete</button>';

                        document.getElementById("formFileMultiple").value = '';


                    }
                }
            </script>

            <script>
                var xValues = ["option1", "option2", "option3"];
                var yValues = [44, 24, 30];
                var barColors = ["red", "green", "blue"];
                new Chart("myChart", {
                    type: "bar",
                    data: {
                        labels: xValues,
                        datasets: [{
                            backgroundColor: barColors,
                            data: yValues
                        }]
                    },
                    options: {
                        legend: { display: false },
                        title: {
                            display: true,
                        }
                    }
                });
            </script>

            <script>
                var voit = 2;
                const container = document.getElementById('input-cont');
                // Call addInput() function on button click
                function addInput() {
                    voit++
                    let input = document.createElement('input');
                    input.placeholder = voit + ' إجابة التصويت';
                    container.appendChild(input);
                }
            </script>


            <script>
                function deleteRow(button) {
                    var row = button.parentNode.parentNode;
                    row.parentNode.removeChild(row);
                    // Update the count numbers of remaining rows
                    var rows = document.querySelectorAll('#tableBody tr');
                    for (var i = 0; i < rows.length; i++) {
                        rows[i].cells[0].innerHTML = i + 1;
                    }
                }
            </script>




            <script>

                const toggleSwitch = document.querySelector('.theme-switch input[type="checkbox"]');

                function switchTheme(e) {
                    if (e.target.checked) {
                        document.documentElement.setAttribute('data-theme', 'dark');
                    }
                    else {
                        document.documentElement.setAttribute('data-theme', 'light');
                    }
                }

                //toggleSwitch.addEventListener('change', switchTheme, false);
                function switchTheme(e) {
                    if (e.target.checked) {
                        document.documentElement.setAttribute('data-theme', 'dark');
                        localStorage.setItem('theme', 'dark'); //add this
                    }
                    else {
                        document.documentElement.setAttribute('data-theme', 'light');
                        localStorage.setItem('theme', 'light'); //add this
                    }
                }
                const currentTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : null;

                if (currentTheme) {
                    document.documentElement.setAttribute('data-theme', currentTheme);

                    if (currentTheme === 'dark') {
                        toggleSwitch.checked = true;
                    }
                }

            </script>
            <script>
                const container = document.querySelector(".container"),
                    pwShowHide = document.querySelectorAll(".showHidePw"),
                    pwFields = document.querySelectorAll(".password"),
                    login = document.querySelector(".login-link");

                //   js code to show/hide password and change icon
                pwShowHide.forEach(eyeIcon => {
                    eyeIcon.addEventListener("click", () => {
                        pwFields.forEach(pwField => {
                            if (pwField.type === "password") {
                                pwField.type = "text";

                                pwShowHide.forEach(icon => {
                                    icon.classList.replace("uil-eye-slash", "uil-eye");
                                })
                            } else {
                                pwField.type = "password";

                                pwShowHide.forEach(icon => {
                                    icon.classList.replace("uil-eye", "uil-eye-slash");
                                })
                            }
                        })
                    })
                })

                signUp.addEventListener("click", () => {
                    container.classList.add("active");
                });
                login.addEventListener("click", () => {
                    container.classList.remove("active");
                });
            </script>



</body>
</html>


